footer {
    color: #fff;
}
ul {
    padding: 0px;
}
ol, ul {
    margin-bottom: 0px;
}

.social-icon {
    padding: 0;
    margin-bottom: 0px;
    float: right;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}
.social-icon li i {
    font-size: 14px;
    background:rgb(182, 175, 197,0.2);
    border: solid 2px #ffffff;
    height: 31px;
    width: 31px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    line-height: 27px;
    margin-right: 15px;
    transition: 1s;
    background: #fff;
}
.social-icon li i:hover {
    border: solid 2px ;
     background:rgb(182, 175, 197,0.2);
    color: #ffffff;
    background-color:rgb(182, 175, 197,0.2);
}



.footerTheme {
    background:rgb(182, 175, 197,0.2);
    padding:10px 0 20px;
}
.footerTheme h4 {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footerTheme p {
    font-size: 13px;
    line-height: 2;
    text-align: right;
}

footer p {
  margin-bottom:0;
}
.footer-logo {
    display: block;
    margin-bottom: 32px;
    
}
.address1 li {
    list-style: none;
    position: relative;
    /* padding: 0px 0 14px 34px; */
    line-height: 15px;
    color:#0f0f0e;
    margin-top: 10px;
}
ul.address1 span {
    position: absolute;
    width: 40px;
    max-width: 40px;
    left: 0;
}
.address1 li a {
    color: rgb(23, 21, 21);
    text-decoration: none;
}
ul.address1 i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 20px;
    top: 0;
}

ul.address1 i.fa-envelope {
    font-size: 10px;
    top: 4px;
}
footer ul.social-icon {
    float: left;
}
footer .social-icon li i:hover {
    background:rgb(182, 175, 197,0.2);
}

.footer-bottom {
    background: #0f0f0e;
    padding: 10px 0px;
}
.footer-bottom ul li {
    display: inline;
    margin-right: 20px;
    font-size: 10px;
}
.footer-bottom ul li a{
    color:#fff; 
}

.footer-bottom ul {
    float: right;
}

.FooterHeight{
    height:33vh;
}

.TextSet{
    color:#0f0f0e;
}

.footer_social {
    height: 130px;
  }
  .footer_social ul li {
    display: inline-block;
    margin-right: 10px;
  }
  .footer_social ul li:last-child {
    margin-right: 0px;
  }
  .footer_social ul li a {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    padding: 10px;
  }
  .footer_social ul li:last-child a {
    padding-right: 0px;
  }
  .footer_social ul li a:hover {
    color: #fe4c50;
  }


  .HeaderBold{
    font-weight: bold;
  }

  #light .footerTheme{
    background: rgba(181, 174, 196, 0.4); 
  }
  #dark .footerTheme{
    background:rgba(0, 0, 0);
  } 
    #light .address1 li{
        color: black; 
      }
      #dark .address1 li{
        color:white;
      }


      #light .HeaderBold {
        color: black; 
      }
      #dark .HeaderBold {
        color:white;
      }

      /* #light .TextSet span {
        color: black; 
      }
      #dark .TextSet span{
        color:white;
      } */

