
.footer-top {
    background: rgba(181, 174, 196, 0.4);  
}

.ContainerTOP{
    height:65vh;
} 
.mainDIV{
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
}
.ScannerSet{
    float:right;
}
.red_buttonTrading {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .red_buttonTrading:hover {
    background: #fe7c7f !important;
  }
  .red_buttonTrading a {
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
    align-content: center;
  }

  .shop_now_buttonTrading{
    width: 140px;
    align-content: center;
  }



.joinBtnBorder{
    text-align: center;
} 

#light .footer-top{
  background: rgba(181, 174, 196, 0.4); 
}
#dark .footer-top{
  background:rgba(0, 0, 0);
}

#light .TextSetting{
  color: black; 
}
#dark .TextSetting{
  color:white;
}

#light .mainDIV{
  color: black; 
}
#dark .mainDIV{
  color:white;
}

#light .themeSetterfortag{
  color: black; 
}
#dark .themeSetterfortag{
  color:white;
}
